@media only screen and (max-width: 2400px) {
    .box { height: 35vh; }

    .overlay { height: 410px; }

    .image { height: 410px; }
}

/* Big tablet to 1200px (width smaller than 1140px row) */
@media only screen and (max-width: 1200px) {
    .intro {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }

    .mainNav { padding: 20px 5%; }

    .aboutMe p { padding-top: 0; }

    .box { height: 40vh; }

    .box h3 {
        font-size: 110%;
        margin-bottom: 0;
    }

    .box ul { font-size: 90%; }
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

    section { padding: 60px 0; }

    .intro { padding: 12%; }

    .mainNav { display: none; }

    .mobileNavIcon {
        display: inline-block;
        font-size: 150%;
        padding-right: 20px;
    }

    .mainNav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
        background-color: rgba(255, 255, 255, 0.98);
    }

    .mainNav li {
        display: block;
        margin: 10px;
    }

    .mainNav li a:link,
    .mainNav li a:visited {
        display: block;
        border: 0;
        padding: 5px 0;
        font-size: 100%;
    }

    .sticky .mainNav { margin-top: 10px; }

    .sticky .mobileNavIcon {
        display: inline-block;
        margin-top: 10px;
    }

    .sticky .mainNav li a:link,
    .sticky .mainNav li a:visited {
        border-bottom: 0;
        padding: 5px 0;
    }

    .sticky .mobileNavIcon i { color: #555555; }

    .aboutMe p { padding-top: 0; }

    .hiking {
        margin: 30px;
        height: 100px;
    }

    .box { height: 35vh; }

    .box h3 { font-size: 90%; margin-bottom: -5px;}

    .box ul { font-size: 80%; }

    .box i {margin-right: 0;}

    .projects h6 { font-size: 90%; }

    .projects p { height: 180px; }

    .paragraphs {
        font-size: 90%;
        margin: 5px;
    }

    .code {font-size: 90%;}

    .image { height: 300px; }

    .text {
        font-size: 70%;
        margin: 10px 5px;
    }

    .contact img { margin-top: 30px; }

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    section { padding: 30px 0; }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .authorImage {
        height: 300px;
        width: auto;
        margin: 0 25%;
    }

    .aboutMe p { text-align: justify; }

    .hiking { display: none; }

    .box {
        height: 40vh;
        width: 55%;
        margin-left: 22.5%;
    }

    .box h3 { font-size: 160%; }

    .box ul { font-size: 100%; }

    .projects p { height: 80px; }

    .projects .col:after {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #191e25;
        content: " ";
        margin: 10px auto;
    }

    .image,
    .overlay {
        width: 80%;
        margin-left: 10%;
        height: 250px;
    }

    .overlay {
        opacity: 1;
        font-size: 130%;
    }
    
    .copyRight {
        float: right;
        margin-bottom: 5px;
    }

}

/* Small phones: from 321 to 480px */
@media only screen and (max-width: 480px) {

    section { padding: 25px 0; }

    .authorImage { margin: 0 15%; }

    .box {
        height: 45vh;
        width: 75%;
        margin-left: 12.5%;
    }

    .projects p { height: 105px; }

    .projects .col:after { margin-bottom: 20px; }

    .code:last-of-type { margin-bottom: 20px; }

    .overlay { font-size: 115%; }

}
/* For Aaron's phone :) */
@media only screen and (max-width: 320px) {

    h1 { font-size: 200%; }

    .authorImage { margin: 0 10%; }

    .box {
        height: 52vh;
        width: 80%;
        margin-left: 10%;
    }

    .overlay { font-size: 100%; }

}