/* ---------------------------------------------- */
/* Basic Setup */
/* ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background: #f1f3f5;
    color: #000000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ---------------------------------------------- */
/* Reusable Components */
/* ---------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* ---- Headings ---- */

h1,
h2 {
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-size: 300%;
    word-spacing: 3px;
}

h2 {
    font-size: 150%;
}

h3 {
    font-weight: 300;
    font-size: 150%;
    text-align: center;
    margin-bottom: 30px;
}

h3:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #000000;
    content: " ";
    margin: 10px auto;
}

h4 {
    letter-spacing: 1px;
    font-weight: 300;
}

h4:after {
    display: block;
    height: 1px;
    width: 100px;
    background-color: #000000;
    content: " ";
    margin: 10px 0;
}

h5 {
    margin: 5px 0 10px 0;
}

/* ---- Paragraphs ---- */

.longCopy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
}

/* ---------------------------------------------- */
/* Header */
/* ---------------------------------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 228, 230, 0.4)), to(rgba(226, 228, 230, .4))), url("img/header.jpg");
    background-image: -webkit-linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/header.jpg");
    background-image: -o-linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/header.jpg");
    background-image: linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/header.jpg");
    /* Photo by Pawel Czerwinski on Unsplash */
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.intro {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ---- Main Nav ---- */

.mainNav {
    margin-top: 40px;
    padding: 20px 10%;
    list-style: none;
    position: relative;
    z-index: 9999;
}

.mainNav li {
    display: inline-block;
    margin-left: 40px;
}

.mainNav li a:link,
.mainNav li a:visited {
    color: #000000;
    margin: 0 auto;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 90%;
    border: 2px solid transparent;
    -webkit-transition: border .2s;
    -o-transition: border .2s;
    transition: border .2s;
}

.mainNav li a:hover,
.mainNav li a:active {
    border-bottom: 2px solid #000000;
}

/* ---- Mobile Nav ---- */

.mobileNavIcon,
.sticky mobileNavIcon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobileNavIcon i {
    font-size: 200%;
    color: #000000;
}

/* ---- Sticky Nav ---- */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #bdccb6;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .mainNav li a:link,
.sticky .mainNav li a:visited {
    padding: 10px 10px;
    color: #000000;
    border: none;
}

.sticky .mainNav li a:hover,
.sticky .mainNav li a:active {
    margin: 0 auto;
    border-bottom: 2px solid #000000;
    padding: 10px 10px;
}

.sticky .mainNav {
    margin-top: 5px;
}

/* ---------------------------------------------- */
/* About Me Section */
/* ---------------------------------------------- */

.aboutMeSec {
    padding: 15px;
}

.authorImage {
    width: 100%;
}

.aboutMe p {
    padding-top: 50px;
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 150%;
}

/* ---------------------------------------------- */
/* Skills Section */
/* ---------------------------------------------- */

.skills {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 228, 230, 0.4)), to(rgba(226, 228, 230, .4))), url("img/skills.jpg");
    background-image: -webkit-linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/skills.jpg");
    background-image: -o-linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/skills.jpg");
    background-image: linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/skills.jpg");
    /*Photo by Scott Webb on Unsplash*/
    background-size: cover;
    -webkit-box-shadow: #000000;
    box-shadow: #000000;
    background-attachment: fixed;
}

.skills h4 {
    text-align: center;
    margin-bottom: 15px;
}

.skills h4:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #000000;
    content: " ";
    margin: 10px auto;
}

.box {
    width: 100%;
    height: 45vh;
    background-color: #f1f3f5;
    border-radius: 5px;
    margin-left: 5%;
    padding: 25px;
}

/* ---------------------------------------------- */
/* Projects Section */
/* ---------------------------------------------- */

.projects h4 {
    text-align: center;
}

.projects h4:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #000000;
    content: " ";
    margin: 10px auto;
}

.projects p {
    margin-bottom: 20px;
}

.project {
    border: 1px solid #73826b;
    border-radius: 5px;
    box-shadow: 6px 6px 5px gray;
    padding: 7px;
    margin-bottom: 50px;
    height: 30vh;
}

.code {
    margin-bottom: 10px;
}

.code a:link,
.code a:visited {
    color: #485243;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #485243;
    -webkit-transition: border-bottom .2s, color .2s;
    -o-transition: border-bottom .2s, color .2s;
    transition: border-bottom .2s, color .2s;
}

.code a:hover,
.code a:active {
    color: #73826b;
    border-bottom: transparent;
}

/* ---------------------------------------------- */
/* Experience Section */
/* ---------------------------------------------- */

.experience {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 228, 230, 0.4)), to(rgba(226, 228, 230, .4))), url("img/experience.jpg");
    background-image: -webkit-linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/experience.jpg");
    background-image: -o-linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/experience.jpg");
    background-image: linear-gradient(rgba(226, 228, 230, 0.4), rgba(226, 228, 230, .4)), url("img/experience.jpg");
    /*Photo by Scott Webb on Unsplash*/
    background-size: cover;
    -webkit-box-shadow: #000000;
    box-shadow: #000000;
    background-attachment: fixed;
}

.exp-box {
    width: 100%;
    height: 60vh;
    background-color: #f1f3f5;
    border-radius: 5px;
    margin-left: 5%;
    padding: 25px;
}

.experience h4,
.experience h5 {
    text-align: center;
    margin-bottom: 15px;
}

.experience h4:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #000000;
    content: " ";
    margin: 10px auto;
}

/* ---------------------------------------------- */
/* Contact Section */
/* ---------------------------------------------- */

.contact {
    margin: 0 auto;
    text-align: center;
}

.email-button {
    width: 40%;
    height: 50px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 100%;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    background-color: #bdccb6;
    border: none;
}

.email-button:hover,
.email-button:active {
    background-color: #bdccb6;
    border: none;
}

.email-button:focus {
    outline: 0;
    border: none;
}

/* ---------------------------------------------- */
/* Footer */
/* ---------------------------------------------- */

footer {
    background-color: #bdccb6;
    height: 100%;
}

.copyRight {
    color: #000000;
    margin: 25px;
}

.socialLinks {
    list-style: none;
    float: right;
    margin: 25px;
}

.socialLinks li {
    display: inline-block;
    margin-right: 20px;
}

.socialLinks i {
    font-size: 25px;
    color: #000000;
}

.visually-hidden {
    display: none;
}